<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <style>
        h1 {
            text-align: center;
        }
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: yellow;
  color: BLACK;
  padding: 14px 28px;
  font-size: 36px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}
</style>
</head>

    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Smart city project</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">




<body class="container">
<h1 style="
    font-size: 3em;
"> Welcome to smart city project</h1>


<button class="block"> <a href="/admin">ADMINISTRATION</a>
</button> <br> <br>
<button class="block"> <a href="/student">STUDENT</a>
</button> <br> <br>
<button class="block"> <a href="/admin">TOURISM</a>
</button> <br> <br>

<button class="block"> <a href="/student">JOBSEEKERS</a>
</button> <br> <br>
<button class="block"> <a href="/student">BUSINESS</a>
</button> <br> <br>

</body>
</html>